<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
  <script src="./js/runtime.a9edc78d5cd6127c9851.js" type="text/javascript"></script>
  <script src="./js/index.38a2b24c45a872244e6e.js" type="text/javascript"></script>
</html>
